<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="{{ request.path }}" method="post">
            <center>
                <br>
                <label for = "nombre">Nombre de la receta</label><br>
                <input type = "text" name = "nombre" placeholder = "Nombre" /><br>
                <br>

                <label for = "tiempo">Tiempo de coccion</labl><br>
                <input type = "text" name = "tiempo" placeholder = "Tiempo" /><br>
                <br>

                <label for = "elaboracion">Proceso de elaboracion</label><br>
                <textarea name = "elaboracion" placeholder = "Elaboracion" cols="60" rows ="8"></textarea><br>
                
                <a href="{{ url_for('ingredientes') }}"> AGREGAR INGREDIENTE </a>
                <input type = "submit" value = "Enviar"/>
            </center>
        </from>
    </body>
</html>